<div align="center">
<img alt="if" height="200" style="border-radius:55px;" src=https://www.ifpb.edu.br/imagens/logotipos/ifpb-1>

# **Estatística Aplicada à Computação**

**CURSO BACHARELADO EM ENGENHARIA DE COMPUTAÇÃO**

**PROFESSOR:** *PAULO RIBEIRO LINS JUNIOR*

**ALUNO:** *Ynnayron Juan Lopes da Silva*

# **Projeto I**

### **Acidentes de Trânsito em Rodovias Federais**

--------------------------

**1ª TAREFA**

In [1]:
import pandas as pd

dados2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download",encoding='latin1', compression='zip', sep=';')
dados2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download",encoding='latin1', compression='zip', sep=';')
dados2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download",encoding='latin1', compression='zip', sep=';')

O	 parâmetro	 	 sep	 	 foi	 utilizado	 para	 definir	 	 ;	 	 como
separador"Sim!!! e Possivel a partir da função compression='zip' que descompacta o arquivo diretamente do banco de dados do site puxando apenas o arquivo CSV, no entanto é um processo que exige um pouco mais de processamento de uma maquina do que apenas puxar um arquivo Csv. Porém apenas a função compression='zip' não é suficiente tambem existe a necessidade de uma filtragem com o encoding='latin1' que tem uma função importante pra quem trabalha com analise de dados na america latina pois ele consegue reconhecer caracteres que temos apenas aqui na america latina, outra filtragem importante é o uso do sep=';' que ele utilizado para definir ; como separador.

---------------------

**2ª TAREFA**

**(a) quantos acidentes ocorreram em cada ano?**

In [ ]:
df=pd.DataFrame({"2018":[len(dados2018)],
"2019":[len(dados2019)],"2020":[len(dados2020)]},index=['ACIDENTES'])
df

            2018   2019   2020
ACIDENTES  69295  67446  63548

**(b) quantas variáveis cada conjunto de dados registra?**

In [ ]:
dados2018.shape[1]

30

**(c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?**

In [ ]:
ocorr=dados2018['municipio'].value_counts()
df1=pd.DataFrame(ocorr).rename(columns={'municipio': 'acidentes'})
df1.index.names = ['Municipios']
df1.head(5)

            acidentes
Municipios
CURITIBA         1019
SAO JOSE          874
BRASILIA          867
GUARULHOS         755
PALHOCA           688

**(d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?**

In [ ]:
df= pd.DataFrame(dados2019[['uf', 'feridos_graves']])
df_pb = df[df.uf.isin(['PB'])]
df_feridos=df_pb['feridos_graves'] > 0
qtd_feridos_pb=df_pb[df_feridos]
qtd_acidentes = qtd_feridos_pb['uf'].value_counts()
qtd_acidentes

PB    414
Name: uf, dtype: int64

--------------------------

**3ª TAREFA**

In [2]:
df_dados=pd.concat([dados2018,dados2019,dados2020],	axis=0,	ignore_index=True)
df_dados

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200284,364615.0,2020-03-20,sexta-feira,09:00:00,RN,304.0,"171,8",ANGICOS,Falta de Atenção à Condução,Colisão traseira,...,1,2,0,2,4,"-5,68711053","-36,419458",SR-RN,UOP03,DEL01
200285,364810.0,2020-09-12,sábado,23:50:00,BA,116.0,"11,5",VITORIA DA CONQUISTA,Ingestão de Álcool,Colisão lateral,...,0,2,0,1,2,"-14,87308214","-40,87141514",SR-BA,UOP01,DEL08
200286,364817.0,2020-10-30,sexta-feira,10:30:00,BA,116.0,"14,3",VITORIA DA CONQUISTA,Falta de Atenção à Condução,Colisão lateral,...,0,2,0,2,2,"-14,89597653","-40,86098671",SR-BA,UOP01,DEL08
200287,364835.0,2020-09-20,domingo,23:00:00,BA,116.0,8,VITORIA DA CONQUISTA,Velocidade Incompatível,Queda de ocupante de veículo,...,0,0,0,1,1,"-14,84732305","-40,88634968",SR-BA,UOP01,DEL08
200288,364903.0,2020-10-31,sábado,02:10:00,BA,116.0,3,VITORIA DA CONQUISTA,Animais na Pista,Atropelamento de Animal,...,1,0,0,1,1,"-14,824848","-40,861311",SR-BA,UOP01,DEL08

*Questão (A)*

In [4]:
ranking=df_dados['uf'].value_counts()
ranking.rank
df=pd.DataFrame(ranking)
df.rename(columns={'uf':'acidentes'}, inplace=True)
df.index.names = ['Municipios']
df.to_csv('Ranking.csv', sep='\t', encoding='utf-8')
df

            acidentes
Municipios
MG              26160
SC              24145
PR              22850
RJ              13417
RS              13216
SP              12936
BA              10482
GO              10046
ES               8018
PE               8011
MT               6963
CE               4962
RO               4648
PB               4553
MS               4505
RN               4190
PI               3920
MA               3501
PA               3040
DF               2997
AL               1948
SE               1746
TO               1704
AC                789
RR                723
AP                456
AM                363

*Questão (B)*

In [5]:
acidentes=df_dados['dia_semana'].value_counts()
acid=pd.DataFrame(acidentes)
acid.rename(columns={'dia_semana':'acidentes'}, inplace=True)
acid.index.names = ['Dias da Semana']
acid.to_csv('Dias_da_Semana.csv', sep='\t', encoding='utf-8')
acid

                acidentes
Dias da Semana
sábado              33005
domingo             33001
sexta-feira         30777
segunda-feira       27075
quinta-feira        26229
quarta-feira        25353
terça-feira         24849

----------------------

**4ª TAREFA**

**(a) qual a causa mais frequente e a mais rara de acidentes registrados nos três anos?**

In [ ]:
caus_acidentes=df_dados['causa_acidente'].value_counts()
freq=caus_acidentes.idxmax()
rara=caus_acidentes.idxmin()
caus_acidentes
print(f"=> A Causa mais Frenquete é {freq} com {caus_acidentes.max()} acidentes \n=> É a mais rara é {rara} com {caus_acidentes.min()} acidentes ")

=> A Causa mais Frenquete é Falta de Atenção à Condução com 73231 acidentes
=> É a mais rara é Acumulo de areia ou detritos sobre o pavimento com 1 acidentes

**(b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos
considerados? (proporção = numero de ilesos ou feridos graves/ número total de
pessoas envolvidas no acidente);**

In [ ]:
import pandas as pd
import datetime
import numpy as np

#2018

#Feridos Graves
fr_ano_2018=pd.DataFrame(dados2018[['data_inversa','feridos_graves','pessoas']])
fr_ano_2018['data_inversa']=pd.to_datetime(fr_ano_2018['data_inversa']) 
fr_ano_2018['Meses']=fr_ano_2018['data_inversa'].dt.month
fr_ano_2018=fr_ano_2018.groupby('Meses')
fr_ano_2018=fr_ano_2018.sum()
fr_ano_2018['GRAVES']=fr_ano_2018['feridos_graves']/fr_ano_2018['pessoas']
graves2018=fr_ano_2018['GRAVES']

#ilesos
ano_2018=pd.DataFrame(dados2018[['data_inversa','ilesos','pessoas']])
ano_2018['data_inversa']=pd.to_datetime(ano_2018['data_inversa']) 
ano_2018['Meses']=ano_2018['data_inversa'].dt.month
ano_2018=ano_2018.groupby('Meses')
ano_2018=ano_2018.sum()
ano_2018['ILESOS']=ano_2018['ilesos']/ano_2018['pessoas']
ilesos2018=ano_2018['ILESOS']
df_2018=pd.concat([graves2018,ilesos2018],	axis=1)
dataframe_2018=pd.DataFrame(df_2018)
print("###########################")
print("           2018           ")
print("###########################")
dataframe_2018

###########################
           2018
###########################

       GRAVES  ILESOS
Meses
1       0.09%   0.51%
2       0.09%   0.50%
3       0.10%   0.48%
4       0.11%   0.43%
5       0.11%   0.42%
6       0.12%   0.43%
7       0.11%   0.44%
8       0.11%   0.43%
9       0.12%   0.42%
10      0.11%   0.43%
11      0.12%   0.43%
12      0.11%   0.43%

In [ ]:
import pandas as pd
import datetime
import numpy as np

#2019

#Feridos Graves
fr_ano_2019=pd.DataFrame(dados2019[['data_inversa','feridos_graves','pessoas']])
fr_ano_2019['data_inversa']=pd.to_datetime(fr_ano_2019['data_inversa']) 
fr_ano_2019['Meses']=fr_ano_2019['data_inversa'].dt.month
fr_ano_2019=fr_ano_2019.groupby('Meses')
fr_ano_2019=fr_ano_2019.sum()
fr_ano_2019['GRAVES']=fr_ano_2019['feridos_graves']/fr_ano_2019['pessoas']
graves2019=fr_ano_2019['GRAVES']

#ilesos
ano_2019=pd.DataFrame(dados2019[['data_inversa','ilesos','pessoas']])
ano_2019['data_inversa']=pd.to_datetime(ano_2019['data_inversa']) 
ano_2019['Meses']=ano_2019['data_inversa'].dt.month
ano_2019=ano_2019.groupby('Meses')
ano_2019=ano_2019.sum()
ano_2019['ILESOS']=ano_2019['ilesos']/ano_2019['pessoas']
ilesos2019=ano_2019['ILESOS']
df_2019=pd.concat([graves2019,ilesos2019],	axis=1)
dataframe_2019=pd.DataFrame(df_2019)
print("###########################")
print("           2019           ")
print("###########################")
dataframe_2019

###########################
           2019
###########################

       GRAVES  ILESOS
Meses
1       0.11%   0.42%
2       0.11%   0.42%
3       0.11%   0.43%
4       0.11%   0.42%
5       0.12%   0.42%
6       0.12%   0.42%
7       0.12%   0.44%
8       0.12%   0.41%
9       0.11%   0.42%
10      0.12%   0.42%
11      0.11%   0.43%
12      0.11%   0.42%

In [ ]:
import pandas as pd
import datetime
import numpy as np

#2019

#Feridos Graves
fr_ano_2020=pd.DataFrame(dados2020[['data_inversa','feridos_graves','pessoas']])
fr_ano_2020['data_inversa']=pd.to_datetime(fr_ano_2020['data_inversa']) 
fr_ano_2020['Meses']=fr_ano_2020['data_inversa'].dt.month
fr_ano_2020=fr_ano_2020.groupby('Meses')
fr_ano_2020=fr_ano_2020.sum()
fr_ano_2020['GRAVES']=fr_ano_2020['feridos_graves']/fr_ano_2020['pessoas']
graves2020=fr_ano_2020['GRAVES']

#ilesos
ano_2020=pd.DataFrame(dados2020[['data_inversa','ilesos','pessoas']])
ano_2020['data_inversa']=pd.to_datetime(ano_2020['data_inversa']) 
ano_2020['Meses']=ano_2020['data_inversa'].dt.month
ano_2020=ano_2020.groupby('Meses')
ano_2020=ano_2020.sum()
ano_2020['ILESOS']=ano_2020['ilesos']/ano_2020['pessoas']
ilesos2020=ano_2020['ILESOS']
df_2020=pd.concat([graves2020,ilesos2020],	axis=1)
dataframe_2020=pd.DataFrame(df_2020)
print("###########################")
print("           2020         ")
print("###########################")
dataframe_2020

###########################
           2020
###########################

       GRAVES  ILESOS
Meses
1       0.11%   0.42%
2       0.11%   0.42%
3       0.11%   0.40%
4       0.12%   0.38%
5       0.12%   0.40%
6       0.12%   0.42%
7       0.11%   0.42%
8       0.12%   0.42%
9       0.12%   0.42%
10      0.12%   0.41%
11      0.12%   0.41%
12      0.12%   0.41%

Essa Questão Foi a com Nivel mais elevado , Pra Resolver Ela Primeiro importei as colunas necessarias e converti em um dataframe, depois tive que analizar as datas e converter a as datas apenas para os meses de cada ano, pra isso utilizei a biblioteca "datetime" convertendo a coluna em datatime e usando a função "dt.month" eu conseguir separa cada linha pelo mês, logo apos usei a função ".groupby" para agrupar dando o endereço das datas então ele enderecei pra ele somar as colunas agrupadas ou seja ele analizou nas colunas de feridos que tinha o mês com o mesmo numero e agrupou, depois dividi a quantidade de feridos e ilesos pelo numero de pessoas, depois criei um dataframe concantenando os dois, fiz isso pra todos os anos.

**(c) mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não
a incidência de acidentes nas rodovias federais**

In [ ]:
df=pd.DataFrame({"Acidentes2018":[len(dados2018)],
"Acidentes2019":[len(dados2019)],"Acidentes2020":[len(dados2020)]})
df

   Acidentes2018  Acidentes2019  Acidentes2020
0          69295          67446          63548



Se Analizarmos os DataFrames Acima principalmente o da Questão C onde tivemos uma baixa de acidentes muito consideravel no ano de 2020 justamente no mes de março onde de fato começou a pandemia isso nos leva a conclusão que a pandemia gerou uma baixa nos acidentes justamente por causo do isolamento Social.

---------------